<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngIf="UserName">
      <div class="panel">
        <div class="top-bar">
          <div class="col-md-8">
            <h3><span></span> Contacts</h3>
          </div>
        </div>
        <table class="table  table-hover">
          <tbody>
            <ng-container *ngFor="let item of allUsers; let i=index">
              <tr *ngIf="item.sessionId!=mySession" (click)="startChat(item.sessionId)">
                <!-- <td>{{i+1}}</td> -->
                <td>{{item.name}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>


    <ng-container *ngIf="UserName">
      <div *ngIf="toUser" class="col-sm-8">
        <div class="">
          <div class="">
            <div class="top-bar">
              <div class="col-md-8">
                <h3><span></span> Chat - {{toUser.name}}</h3>
              </div>
            </div>
            <div class="msg_container_base">
              <div class="row msg_container" *ngFor="let item of Chats">
                <div class="col-md-10" [class.ml-15]="item.from">
                  <div class="messages">
                    <p>{{item.message}}</p>
                  </div>
                </div>
              </div>

            </div>
            <div>
              <ng-container *ngIf="toUser.accepted">
                <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm"
                    placeholder="Write your message here..." name="text" [(ngModel)]="text" name="ngModel" />
                  <span>
                    <button class="btn btn-primary btn-sm" id="btn-chat" (click)="sendText()">Send</button>
                  </span>
                </div>
              </ng-container>
              <ng-container *ngIf="!toUser.accepted">
                <span>
                  <button class="btn btn-primary btn-sm" id="btn-chat" (click)="sendRequest(toUser.sessionId)">Send
                    Request</button>
                </span>
                <p *ngIf="toUser.reject">{{toUser.name}} rejected your request, Try Again!</p>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
      <!-- <div *ngIf="!toUser">
        <p>{{start texting}}</p>
      </div> -->
    </ng-container>
    <ng-container *ngIf="!UserName">
      <div>
        <h2>Please enter your Name</h2>
        <form action="" #user="ngForm">

          <input type="text" class="form-control" required name="name" [(ngModel)]="model.name" name="ngModel">
          <input type="button" (click)="formData($event)" value="Submit">
        </form>
      </div>
    </ng-container>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1"
    [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalData.title}}</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          {{modalData.body}}
        </div>
        <ng-container *ngIf="modalData.request">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Reject</button>
            <button type="button" class="btn btn-primary" (click)="acceptRequest()">Accept</button>
          </div>
        </ng-container>
        <ng-container *ngIf="modalData.sessionOut">
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="sessionEnd()">OK</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>